<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435864417888-7hk08o1jifh1p69uv2g9g1rv7ma85e4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435864417888-7hk08o1jifh1p69uv2g9g1rv7ma85e4i</string>
	<key>API_KEY</key>
	<string>AIzaSyCdjNgoCp5rJNJZeLk_6l0Ykxf30kdgeNU</string>
	<key>GCM_SENDER_ID</key>
	<string>435864417888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-1test-68896</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-1test-68896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435864417888:ios:ae6a22baa6ad63bacab505</string>
</dict>
</plist>